.enlace {
    text-decoration: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
}

.estilo-boton {
    -webkit-user-drag: none;
}

@media only screen and (orientation: portrait) {

    .enlace:hover {
        color: var(--dos);
    }
}

@media only screen and (orientation: landscape) {
    .enlace {
        padding: 10px 15px;
        border: 1px solid var(--dos);
        border-radius: 5px;
        background-color: var(--dos);
        color: var(--oscuro3);
        box-shadow: 1px 1px 1px #000;
        display: inline-block;
    }

    .enlace:hover {
        color: var(--oscuro1);
    }
    
    .boton {
        border: 1px solid var(--dos);
        background-color: var(--dos);
        color: var(--oscuro3);
    }
}

.estilo-boton {
    min-width: 100px;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--uno);
    border: 0 none;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 10px;
    margin: 10px 5px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4);
}

.boton-secundario {
    background: var(--siete);
}

.boton-principal {
    background: var(--success);
    text-transform: uppercase;
}

.boton-eliminar {
    background: var(--danger);
    text-transform: uppercase;
}

.boton-warning {
    background: var(--warning);
    text-transform: uppercase;
}

.boton-info {
    background: var(--info);
    color: var(--black);
    font-weight: bolder;
    text-transform: uppercase;
}

.estilo-boton:hover, .estilo-boton:focus {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.4);
}

@media only screen and (orientation: portrait) {
    .estilo-boton {
        padding: 15px 10px;
        font-size: 0.75rem;
    }
}